# Maven
target/
!.mvn/wrapper/maven-wrapper.jar
.mvn/
mvnw
mvnw.cmd

# IDE
.settings/
.classpath
.project
.factorypath
*.iml
.idea/
*.ipr
*.iws

# OS
.DS_Store
Thumbs.db

# Git
.git/
.gitignore
.gitattributes

# Logs
*.log

# Other
README.md
HELP.md
